<div align="center">
  <%= form_for @comment do |f| %>


      <h1> Edit comment</h1>
      <br>
      <%= f.text_area :body, size: "58x6" %>


      <p>
        <%= f.submit %>
      </p>

  <% end %>
</div>