<div align="center"><h2>Comment</h2>
  <table class="table">
    <tr>
      <td>
        <strong>Commenter:</strong>
        <%= @comment.commenter %>
      </td>
      <td><strong>Comment:</strong>
        <%= @comment.body %></td>
    </tr>
  </table>


  <h2>Comms</h2>
  <table class="table" width="100%">
    <tr>
      <th>Author</th>
      <th>Comm</th>
      <th colspan="3"></th>
    </tr>
    <% @comment.comms.each do |comm| %>

        <tr>
          <td><%= comm.commenter %></td>
          <td><%= comm.body %></td>
          <td><%= link_to 'Edit', edit_comm_path(comm) %></td>
          <td><%= link_to 'Destroy', [comm.comment, comm],
                          method: :delete,
                          data: {confirm: 'Are you sure?'} %></td>

        </tr>

    <% end %>
  </table>


  <h2>Add a comm:</h2>
  <%= form_for([@comment, @comment.comms.build]) do |f| %>

      <p>
        <%= f.text_area :body, size: "58x6" %>
      </p>
      <p>
        <%= f.submit %>
      </p>
  <% end %>

</div>