<div align="center">
  <table class="table">
    <tr>
      <td><strong>Author:</strong>
        <%= @article.title %>
      </td>
    </tr>

    <tr>
      <td><strong>Text:</strong>
        <%= @article.text %></td>
    </tr>

    <!--Form to add article-->

  </table>

  <h2>Comments</h2>

  <table class="table" width="100%">
    <tr>
      <th><strong>Author:</strong></th>
      <th><strong>Comment:</strong></th>
    </tr>
    <% @article.comments.each do |comment| %>

        <tr>
          <td><%= comment.commenter %></td>

          <td><%= comment.body %></td>
          <td><%= link_to 'Show', comment_path(comment) %>
          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
          <td><%= link_to 'Destroy Comment', [comment.article, comment],
                          method: :delete,
                          data: {confirm: 'Are you sure?'} %></td>


        </tr>
    <% end %>
  </table>


  <!--Form to display comment-->


  <h2>Add a comment:</h2>
  <%= form_for([@article, @article.comments.build]) do |f| %>

      <p>
        <%= f.text_area :body, size: "58x6" %>
      </p>
      <p>
        <%= f.submit %>
      </p>
  <% end %>

  <!--Form to add a comment-->


  <div class="c"><%= link_to 'Edit', edit_article_path(@article) %></div>

</div>