<div align="center"> <%= form_for @comm do |f| %>


      <p>
        <h1>Change a comment</h1> <br>
        <%= f.text_area :body, size: "58x6" %>
      </p>

      <p>
        <%= f.submit %>
      </p>

  <% end %>
</div>