<div align="center"><h2>Comm</h2>
  <table class="table">
    <tr>
      <td>
        <strong>Commenter:</strong>
        <%= @comm.commenter %>
      </td>
      <td><strong>Comment:</strong>
        <%= @comm.body %></td>
    </tr>
  </table>
  </div>