<!DOCTYPE html>
<html>
<head>
  <title>forApplikey</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div align="center">
  <% flash.each do |key, message| %>
      <p class="<%= key %>"><%= message %></p>
  <% end %>
</div>
<div align="right">
  <% if user_signed_in? %>
      <span>Hi, <%= current_user.email %></span>
      <p class="c"><%= link_to 'Log out', destroy_user_session_path, :method => :delete %><p>
  <% else %>
      <div class="c"><%= link_to 'Log in', new_user_session_path %> </div>
      <strong>OR</strong>
      <div class="c"> <%= link_to 'Sign up', new_user_registration_path %></div>
  <% end %>
  <p></p>
  <div class="c"><%= link_to 'Home', articles_path %></div>
</div>

<%= yield %>

</body>
</html>